body{
    background-size: cover;
      background-repeat: no-repeat;
    background-clip: content-box;
      background-image: url(https://7themes.su/_ph/64/669634805.jpg);
    background-attachment: fixed;
    }
    