body{
    background-size: cover;
      background-repeat: no-repeat;
    background-clip: content-box;
      background-image: url(https://cms-assets.tutsplus.com/uploads/users/346/posts/28519/image/charcoalfinal.jpg);
    background-attachment: fixed;
    }
    