body{
    background-size: cover;
      background-repeat: no-repeat;
    background-clip: content-box;
      background-image: url(https://images5.alphacoders.com/884/thumb-1920-884368.png);
    background-attachment: fixed;
    }
    